{% load static %}

<html>
    <head>
        <title>Medeea's Blog - Contact</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Amethysta' rel='stylesheet'>
        <link rel="stylesheet" href="{% static '/css/blog.css' %}">
    </head>

    <body>
        <div class = "bdy">
        <div class = "page-header">
            <h1><a href = "/" > Medeea's Blog </a> </h1>
         </div>

         <div class = "contact">
            <h2 > Contact</h2> 
        </div>
        
        <div class = "contact-content">
        <p><b>Postal Address:</b></p>
        <p>Birmingham <br> United Kingdom</p>
        <br>
        <p><b>Tel: </b>07717394728</p>
        <br>
        <p> <b>Email:</b> mxz947@student.bham.ac.uk</p>
        </div>

        <footer class = "footer"></footer>
    </div>
         
    </body>
</html>