{% extends 'blog/base.html' %}

{% block content %}

<div class="home_content">
    <h1>Welcome!</h1>
    <p>My name is Medeea (as you might have already guessed &#129315;) and I am a Computer Science student at the University of Birmingham. Ever since I was young, I was really attracted to arts, I wanted to try everything, from painting to dancing and singing. I tried dancing for a while, I played the electric guitar for about 5 years, but nothing made me happier than painting. I’ve always been fascinated by realism, especially in portraits. I think what I love the most about painting portraits is that it’s a different experience every time, since every face is so unique. <br>
        <br> When it comes to art supplies, I mostly used coloured pencils and graphite, at first, but lately I tried using watercolours and acrylics more. I even tried oil paints for the first time this year and I’ve most definitely fallen in love with them. <br>
        <br>I know computer science and painting may seem like an odd pair, but they actually have more in common than most people believe. In computer science, just like in art, you have to be creative, since no two problems are quite the same, and that is why I love studying it so much! <br>
        <br>I really hope you’ll enjoy reading about my experience as a computer science student and art lover!! &#128151; </p>
</div>

{% endblock %}